<section class="contact">
    <div class="hero">
        <div class="pure-g">
            <div class="pure-u-5-5 pure-u-lg-2-5 hero-title">
                Don’t be shy. <br/>
                Say <span class="txt-pink">Hello.</span>
            </div>
            <div class="pure-u-5-5 pure-u-lg-2-5">
                <ul class="social-list">
                    <li><a href="mailto:abmorrisart@gmail.com"><i class="social-icon icon icon-email"></i> <span class="social-text"> Email</span></a></li>
                    <li><a href="tel:1-334-805-0022"><i class="social-icon icon icon-phone"></i> <span class="social-text"> Call</span></a></li>

                    <li><a href="https://twitter.com/abmorrisart"><i class="social-icon icon icon-twitter"></i> <span class="social-text"> Twitter</span></a></li>
                    <li><a href="https://instagram.com/abmorrisart"><i class="social-icon icon icon-instagram"></i> <span class="social-text"> Instagram</span></a></li>
                    <li><a href="https://facebook.com/abmorrisart"><i class="social-icon icon icon-facebook"></i> <span class="social-text"> Facebook</span></a></li>
                    <li><a href="https://twitch.tv/abmorrisart"><i class="social-icon icon icon-twitch"></i> <span class="social-text"> Twitch</span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCvlvNpy-Ijft_IpFBAbbJKQ/channels"><i class="social-icon icon icon-youtube"></i> <span class="social-text"> YouTube</span></a></li>
                    <li><a href="https://abmorrisart.redbubble.com"><i class="social-icon icon icon-redbubble"></i> <span class="social-text"> Redbubble</span></a></li>
                    <li><a href="https://abmorrisart.etsy.com"><i class="social-icon icon icon-etsy"></i> <span class="social-text"> Etsy</span></a></li>
                    <li><a href="https://patreon.com/abmorrisart"><i class="social-icon icon icon-patreon"></i> <span class="social-text"> Patreon</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>