
/* start: text positions */

.txt-right {
    text-align: right;
}

.txt-left {
    text-align: right;
}

.txt-center {
    text-align: right;
}

/* end: text positions */


/* start: text colors */

.txt-white {
    color: #fff;
}

.txt-pink {
    color: $color-pink;
}

.txt-green {
    color: $color-green;
}

/* end: text colors */


/* start: bg colors */

.bg-pink {
    background-color: $color-pink;
}

.bg-green {
    background-color: $color-green;
}


/* end: bg colors */




