<section class="services">

    <div class="hero">
        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Digital Portrait
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <p>$40 base price plus $20 per person or pet.</p>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Painted Portrait
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24">
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr style="vertical-align: top;">
                            <th>Size</th>
                            <th>1 Person <br/> <span style="font-size: 14px; font-weight: normal; font-style: italic;">base price</span></th>
                            <th>2 People</th>
                            <th>3 People</th>
                            <th>1 Pet</th>
                            <th>Landscape/<br/>House</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8"x10"</td>
                            <td>$100</td>
                            <td></td>
                            <td></td>
                            <td>$90</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11"x14"</td>
                            <td>$150</td>
                            <td></td>
                            <td></td>
                            <td>$130</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12"x16"</td>
                            <td>$200</td>
                            <td>$230</td>
                            <td></td>
                            <td>$170</td>
                            <td>$170</td>
                        </tr>
                        <tr>
                            <td>16"x20"</td>
                            <td>$250</td>
                            <td>$280</td>
                            <td>$310</td>
                            <td>$210</td>
                            <td>$210</td>
                        </tr>
                        <tr>
                            <td>18"x24"</td>
                            <td>$300</td>
                            <td>$330</td>
                            <td>$360</td>
                            <td>$240</td>
                            <td>$240</td>
                        </tr>
                        <tr>
                            <td>24"x30"</td>
                            <td>$350</td>
                            <td>$380</td>
                            <td>$410</td>
                            <td>$280</td>
                            <td>$280</td>
                        </tr>
                        <tr>
                            <td>24"x36"</td>
                            <td>$400</td>
                            <td>$430</td>
                            <td>$460</td>
                            <td>$320</td>
                            <td>$320</td>
                        </tr>
                        <tr>
                            <td>30"x40"</td>
                            <td>$450</td>
                            <td>$480</td>
                            <td>$510</td>
                            <td>$360</td>
                            <td>$360</td>
                        </tr>
                        <tr>
                            <td>36"x48"</td>
                            <td>$500</td>
                            <td>$530</td>
                            <td>$560</td>
                            <td>$400</td>
                            <td>$400</td>
                        </tr>
                    </tbody>
                </table>

                <div style="max-width: 500px; margin-top: 20px; margin-left: 10px">
                    *Large group take the base price for the size you want and add $30 per person and $20 per pet (minumum size of 20" x 24")
                </div>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Live Painting
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <p>Calculate the Painted Portrait price at the size you would like and add $150.</p>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Private Lessons
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <p>Individual: $25 per one hour class.</p>
                <p>Group: $15 per person per one hour class.</p>
            </div>
        </div>


    </div>
</section>