<section class="services">

    <div class="hero">
        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Digital Portrait
                <br/>
                <a class="example-link" [routerLink]="['/portfolio']" [queryParams]="{ tag: 'Digital Portrait'}">View examples</a>
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <div>
                    I can paint a digital portrait for you can be any size file you need. I create the portraits using
                    procreate. Clients will receive the digital file and can request up to three revisions if needed.
                </div>
                <div class="service-pricing">$40 base price plus $20 per person or pet.</div>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Painted Portrait
                <br/>
                <a class="example-link" [routerLink]="['/portfolio']" [queryParams]="{ tag: 'Painted Portrait'}">View examples</a>
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <div>
                    I can paint portraits for you! Portraits will be on canvas and painted with acrylic paints. Clients
                    can request up to three revisions if needed. I do not offer framing services.
                </div>
                <table class="pure-table pure-table-horizontal">
                    <thead>
                        <tr style="vertical-align: top;">
                            <th>Size</th>
                            <th>1 Person <br /> <span
                                    style="font-size: 14px; font-weight: normal; font-style: italic;">base price</span>
                            </th>
                            <th>2 People</th>
                            <th>3 People</th>
                            <th>1 Pet</th>
                            <th>Landscape/<br />House</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8"x10"</td>
                            <td>$100</td>
                            <td></td>
                            <td></td>
                            <td>$90</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>11"x14"</td>
                            <td>$150</td>
                            <td></td>
                            <td></td>
                            <td>$130</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>12"x16"</td>
                            <td>$200</td>
                            <td>$230</td>
                            <td></td>
                            <td>$170</td>
                            <td>$170</td>
                        </tr>
                        <tr>
                            <td>16"x20"</td>
                            <td>$250</td>
                            <td>$280</td>
                            <td>$310</td>
                            <td>$210</td>
                            <td>$210</td>
                        </tr>
                        <tr>
                            <td>18"x24"</td>
                            <td>$300</td>
                            <td>$330</td>
                            <td>$360</td>
                            <td>$240</td>
                            <td>$240</td>
                        </tr>
                        <tr>
                            <td>24"x30"</td>
                            <td>$350</td>
                            <td>$380</td>
                            <td>$410</td>
                            <td>$280</td>
                            <td>$280</td>
                        </tr>
                        <tr>
                            <td>24"x36"</td>
                            <td>$400</td>
                            <td>$430</td>
                            <td>$460</td>
                            <td>$320</td>
                            <td>$320</td>
                        </tr>
                        <tr>
                            <td>30"x40"</td>
                            <td>$450</td>
                            <td>$480</td>
                            <td>$510</td>
                            <td>$360</td>
                            <td>$360</td>
                        </tr>
                        <tr>
                            <td>36"x48"</td>
                            <td>$500</td>
                            <td>$530</td>
                            <td>$560</td>
                            <td>$400</td>
                            <td>$400</td>
                        </tr>
                    </tbody>
                </table>

                <div style="max-width: 500px; margin-top: 20px; margin-left: 10px">
                    *Large group take the base price for the size you want and add $30 per person and $20 per pet
                    (minumum size of 18" x 24")
                </div>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Live Event Painting 
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <div>Perfect for weddings! I will show up to your event and paint a portrait of the requested person or
                    persons in acrylic paint on a canvas size of your choosing. I will also include the venue
                    background. I will need a small space at the venue to set my easel. I will arrive early to block in
                    the venue space and background and begin paint the subject/subjects when the even starts. If I do
                    not finish by the end of the event or if the client would like revisions I will take the painting
                    back to my studio and deliver the painting to the client at a later date. Clients can request up to
                    three revisions if needed. I do not offer framing services.</div>
                <div class="service-pricing">Calculate the Painted Portrait price at the size you would like and add
                    $150.</div>
            </div>
        </div>

        <div class="pure-g service-block">
            <div class="pure-u-5-5 pure-u-lg-8-24 service-title">
                Private Lessons
            </div>
            <div class="pure-u-1-24">&nbsp;</div>
            <div class="pure-u-5-5 pure-u-lg-15-24 service-description">
                <div>These classes art suitable for kids or adults! I am an Alabama state certified k-12
                    visual arts teacher. I will work with you or your group to create a curriculum suited for your
                    specific art goals. We can cover art basics, we can explore a specific medium, or I can lead sip and
                    paint classes for the adults.</div>
                <div class="service-pricing">Individual: $25 per one hour class.</div>
                <div class="service-pricing">Group: $25 per one hour class plus $15 per additional person.</div>
            </div>
        </div>


    </div>
</section>